In [6]:
# pd.read_csv('bom.movie_gross.csv')
# import libraries for manipulation of the data
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
 pd.read_csv('zippedData/bom.movie_gross.csv')

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [10]:
pd.read_csv('zippedData/tmdb.movies.csv')

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [11]:
pd.read_csv('zippedData/tn.movie_budgets.csv')

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [12]:
pd.read_csv('zippedData/rt.movie_info.tsv' ,sep ='\t')

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",$,"33,886,034",106 minutes,New Line Cinema
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,"Jul 23, 1993","Apr 17, 2001",NaN,NaN,88 minutes,Paramount Vantage
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",NaN,NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",NaN,NaN,101 minutes,NaN
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures

In [15]:
pd.read_csv('zippedData/rt.reviews.tsv')

ParserError: Error tokenizing data. C error: Expected 3 fields in line 5, saw 5

#DATA PREPARATION
# The data below will be used to get more information about the selected movies

In [16]:
df = pd.read_csv('zippedData/bom.movie_gross.csv')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [18]:
df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [19]:
df.tail()

,title,studio,domestic_gross,foreign_gross,year
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [20]:
df.shape

(3387, 5)

In [21]:
df.describe()

       domestic_gross         year
count    3.359000e+03  3387.000000
mean     2.874585e+07  2013.958075
std      6.698250e+07     2.478141
min      1.000000e+02  2010.000000
25%      1.200000e+05  2012.000000
50%      1.400000e+06  2014.000000
75%      2.790000e+07  2016.000000
max      9.367000e+08  2018.000000

In [24]:
df.describe(include='all')

            title studio  domestic_gross foreign_gross         year
count        3387   3382    3.359000e+03          2037  3387.000000
unique       3386    257             NaN          1204          NaN
top     Bluebeard    IFC             NaN       1200000          NaN
freq            2    166             NaN            23          NaN
mean          NaN    NaN    2.874585e+07           NaN  2013.958075
std           NaN    NaN    6.698250e+07           NaN     2.478141
min           NaN    NaN    1.000000e+02           NaN  2010.000000
25%           NaN    NaN    1.200000e+05           NaN  2012.000000
50%           NaN    NaN    1.400000e+06           NaN  2014.000000
75%           NaN    NaN    2.790000e+07           NaN  2016.000000
max           NaN    NaN    9.367000e+08           NaN  2018.000000

In [41]:
df2= pd.read_csv('tmdb.movies.csv')

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [43]:
df.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [44]:
df.tail()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.6,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.6,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.6,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.6,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.6,2018-10-05,The Church,0.0,1

In [45]:
df.shape

(26517, 10)

In [46]:
df.describe()

        Unnamed: 0             id    popularity  vote_average    vote_count
count  26517.00000   26517.000000  26517.000000  26517.000000  26517.000000
mean   13258.00000  295050.153260      3.130912      5.991281    194.224837
std     7654.94288  153661.615648      4.355229      1.852946    960.961095
min        0.00000      27.000000      0.600000      0.000000      1.000000
25%     6629.00000  157851.000000      0.600000      5.000000      2.000000
50%    13258.00000  309581.000000      1.374000      6.000000      5.000000
75%    19887.00000  419542.000000      3.694000      7.000000     28.000000
max    26516.00000  608444.000000     80.773000     10.000000  22186.000000

In [47]:
df.describe(include =('all'))

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
count,26517.00000,26517,26517.000000,26517,26517,26517.000000,26517,26517,26517.000000,26517.000000
unique,NaN,2477,NaN,76,24835,NaN,3433,24688,NaN,NaN
top,NaN,[99],NaN,en,Eden,NaN,2010-01-01,Eden,NaN,NaN
freq,NaN,3700,NaN,23291,7,NaN,269,7,NaN,NaN
mean,13258.00000,NaN,295050.153260,NaN,NaN,3.130912,NaN,NaN,5.991281,194.224837
std,7654.94288,NaN,153661.615648,NaN,NaN,4.355229,NaN,NaN,1.852946,960.961095
min,0.00000,NaN,27.000000,NaN,NaN,0.600000,NaN,NaN,0.000000,1.000000
25%,6629.00000,NaN,157851.000000,NaN,NaN,0.600000,NaN,NaN,5.000000,2.000000
50%,13258.00000,NaN,309581.000000,NaN,NaN,1.374000,NaN,NaN,6.000000,5.000000
75%,19887.00000,NaN,419542.000000,NaN,NaN,3.694000,NaN,NaN,7.000000,28.000000
max,26516.00000,NaN,608444.000000,NaN,NaN,80.773000,NaN,NaN,10.000000,22186.000000

In [50]:
movie_ratings = []
year = []
time = []

In [51]:
movie_ratings= pd.read_csv('tmdb.movies.csv')
movie_ratings

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [52]:
df.columns

Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')

In [129]:
inner = pd.merge(df,df2, on = 'original_title')
inner

,Unnamed: 0_x,genre_ids_x,id_x,original_language_x,original_title,popularity_x,release_date_x,title_x,vote_average_x,vote_count_x,Unnamed: 0_y,genre_ids_y,id_y,original_language_y,popularity_y,release_date_y,title_y,vote_average_y,vote_count_y
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,0,"[12, 14, 10751]",12444,en,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,1,"[14, 12, 16, 10751]",10191,en,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,2,"[12, 28, 878]",10138,en,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174,3,"[16, 35, 10751]",862,en,28.005,1995-11-22,Toy Story,7.9,10174
4,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174,2473,"[16, 35, 10751]",862,en,28.005,1995-11-22,Toy Story,7.9,10174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30324,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1,26512,"[27, 18]",488143,en,0.600,2018-10-13,Laboratory Conditions,0.0,1
30325,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1,26513,"[18, 53]",485975,en,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
30326,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1,26514,"[14, 28, 12]",381231,en,0.600,2018-10-01,The Last One,0.0,1
30327,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1,26515,"[10751, 12, 28]",366854,en,0.600,2018-06-22,Trailer Made,0.0,1
30328,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1,26516,"[53, 27]",309885,en,0.600,2018-10-05,The Church,0.0,1

In [130]:
pd.merge(df , df2, on ='id')

,Unnamed: 0_x,genre_ids_x,id,original_language_x,original_title_x,popularity_x,release_date_x,title_x,vote_average_x,vote_count_x,Unnamed: 0_y,genre_ids_y,original_language_y,original_title_y,popularity_y,release_date_y,title_y,vote_average_y,vote_count_y
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,0,"[12, 14, 10751]",en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,1,"[14, 12, 16, 10751]",en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,2,"[12, 28, 878]",en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174,3,"[16, 35, 10751]",en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174,2473,"[16, 35, 10751]",en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28600,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1,26512,"[27, 18]",en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
28601,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1,26513,"[18, 53]",en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
28602,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1,26514,"[14, 28, 12]",en,The Last One,0.600,2018-10-01,The Last One,0.0,1
28603,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1,26515,"[10751, 12, 28]",en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
28604,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1,26516,"[53, 27]",en,The Church,0.600,2018-10-05,The Church,0.0,1

In [131]:
time = pd.merge(df, df2)
time

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [132]:
df,df2.describe()

(       Unnamed: 0            genre_ids      id original_language  \
 0               0      [12, 14, 10751]   12444                en
 1               1  [14, 12, 16, 10751]   10191                en
 2               2        [12, 28, 878]   10138                en
 3               3      [16, 35, 10751]     862                en
 4               4        [28, 878, 12]   27205                en
 ...           ...                  ...     ...               ...
 26512       26512             [27, 18]  488143                en
 26513       26513             [18, 53]  485975                en
 26514       26514         [14, 28, 12]  381231                en
 26515       26515      [10751, 12, 28]  366854                en
 26516       26516             [53, 27]  309885                en

                                      original_title  popularity release_date  \
 0      Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
 1                          How to Train Your Dragon      28.734   2010-03-26
 2                                        Iron Man 2      28.515   2010-05-07
 3                                         Toy Story      28.005   1995-11-22
 4                                         Inception      27.920   2010-07-16
 ...                                             ...         ...          ...
 26512                         Laboratory Conditions       0.600   2018-10-13
 26513                               _EXHIBIT_84xxx_       0.600   2018-05-01
 26514                                  The Last One       0.600   2018-10-01
 26515                                  Trailer Made       0.600   2018-06-22
 26516                                    The Church       0.600   2018-10-05

                                               title  vote_average  vote_count
 0      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
 1                          How to Train Your Dragon           7.7        7610
 2                                        Iron Man 2           6.8       12368
 3                                         Toy Story           7.9       10174
 4                                         Inception           8.3       22186
 ...                                             ...           ...         ...
 26512                         Laboratory Conditions           0.0           1
 26513                               _EXHIBIT_84xxx_           0.0           1
 26514                                  The Last One           0.0           1
 26515                                  Trailer Made           0.0           1
 26516                                    The Church           0.0           1

 [26517 rows x 10 columns],
         Unnamed: 0             id    popularity  vote_average    vote_count
 count  26517.00000   26517.000000  26517.000000  26517.000000  26517.000000
 mean   13258.00000  295050.153260      3.130912      5.991281    194.224837
 std     7654.94288  153661.615648      4.355229      1.852946    960.961095
 min        0.00000      27.000000      0.600000      0.000000      1.000000
 25%     6629.00000  157851.000000      0.600000      5.000000      2.000000
 50%    13258.00000  309581.000000      1.374000      6.000000      5.000000
 75%    19887.00000  419542.000000      3.694000      7.000000     28.000000
 max    26516.00000  608444.000000     80.773000     10.000000  22186.000000)

DATA CLEANING

# check for the accuracy an relevancy of the data chosen

In [133]:
# synchronize the columns to check for nullvalues 
df.isnull().any()

Unnamed: 0           False
genre_ids            False
id                   False
original_language    False
original_title       False
popularity           False
release_date         False
title                False
vote_average         False
vote_count           False
dtype: bool

In [134]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
26512    False
26513    False
26514    False
26515    False
26516    False
Length: 26517, dtype: bool

In [135]:
# check for duplicates
df.duplicated().sum()

0

In [136]:
df2.isnull().any()

Unnamed: 0           False
genre_ids            False
id                   False
original_language    False
original_title       False
popularity           False
release_date         False
title                False
vote_average         False
vote_count           False
dtype: bool

In [137]:
df2.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
26512    False
26513    False
26514    False
26515    False
26516    False
Length: 26517, dtype: bool

In [138]:
df2.duplicated().sum()

0

In [139]:
df,df2.isnull()

(       Unnamed: 0            genre_ids      id original_language  \
 0               0      [12, 14, 10751]   12444                en
 1               1  [14, 12, 16, 10751]   10191                en
 2               2        [12, 28, 878]   10138                en
 3               3      [16, 35, 10751]     862                en
 4               4        [28, 878, 12]   27205                en
 ...           ...                  ...     ...               ...
 26512       26512             [27, 18]  488143                en
 26513       26513             [18, 53]  485975                en
 26514       26514         [14, 28, 12]  381231                en
 26515       26515      [10751, 12, 28]  366854                en
 26516       26516             [53, 27]  309885                en

                                      original_title  popularity release_date  \
 0      Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
 1                          How to Train Your Dragon      28.734   2010-03-26
 2                                        Iron Man 2      28.515   2010-05-07
 3                                         Toy Story      28.005   1995-11-22
 4                                         Inception      27.920   2010-07-16
 ...                                             ...         ...          ...
 26512                         Laboratory Conditions       0.600   2018-10-13
 26513                               _EXHIBIT_84xxx_       0.600   2018-05-01
 26514                                  The Last One       0.600   2018-10-01
 26515                                  Trailer Made       0.600   2018-06-22
 26516                                    The Church       0.600   2018-10-05

                                               title  vote_average  vote_count
 0      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
 1                          How to Train Your Dragon           7.7        7610
 2                                        Iron Man 2           6.8       12368
 3                                         Toy Story           7.9       10174
 4                                         Inception           8.3       22186
 ...                                             ...           ...         ...
 26512                         Laboratory Conditions           0.0           1
 26513                               _EXHIBIT_84xxx_           0.0           1
 26514                                  The Last One           0.0           1
 26515                                  Trailer Made           0.0           1
 26516                                    The Church           0.0           1

 [26517 rows x 10 columns],
        Unnamed: 0  genre_ids     id  original_language  original_title  \
 0           False      False  False              False           False
 1           False      False  False              False           False
 2           False      False  False              False           False
 3           False      False  False              False           False
 4           False      False  False              False           False
 ...           ...        ...    ...                ...             ...
 26512       False      False  False              False           False
 26513       False      False  False              False           False
 26514       False      False  False              False           False
 26515       False      False  False              False           False
 26516       False      False  False              False           False

        popularity  release_date  title  vote_average  vote_count
 0           False         False  False         False       False
 1           False         False  False         False       False
 2           False         False  False         False       False
 3           False         False  False         False       False
 4           False         False  False         False       False
 ...           ...           ...    ...           ...         ...
 26512       False         False  False         False       False
 26513       False         False  False         False       False
 26514       False         False  False         False       False
 26515       False         False  False         False       False
 26516       False         False  False         False       False

 [26517 rows x 10 columns])

In [145]:
df,df2.id.unique()

(       Unnamed: 0            genre_ids      id original_language  \
 0               0      [12, 14, 10751]   12444                en
 1               1  [14, 12, 16, 10751]   10191                en
 2               2        [12, 28, 878]   10138                en
 3               3      [16, 35, 10751]     862                en
 4               4        [28, 878, 12]   27205                en
 ...           ...                  ...     ...               ...
 26512       26512             [27, 18]  488143                en
 26513       26513             [18, 53]  485975                en
 26514       26514         [14, 28, 12]  381231                en
 26515       26515      [10751, 12, 28]  366854                en
 26516       26516             [53, 27]  309885                en

                                      original_title  popularity release_date  \
 0      Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
 1                          How to Train Your Dragon      28.734   2010-03-26
 2                                        Iron Man 2      28.515   2010-05-07
 3                                         Toy Story      28.005   1995-11-22
 4                                         Inception      27.920   2010-07-16
 ...                                             ...         ...          ...
 26512                         Laboratory Conditions       0.600   2018-10-13
 26513                               _EXHIBIT_84xxx_       0.600   2018-05-01
 26514                                  The Last One       0.600   2018-10-01
 26515                                  Trailer Made       0.600   2018-06-22
 26516                                    The Church       0.600   2018-10-05

                                               title  vote_average  vote_count
 0      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
 1                          How to Train Your Dragon           7.7        7610
 2                                        Iron Man 2           6.8       12368
 3                                         Toy Story           7.9       10174
 4                                         Inception           8.3       22186
 ...                                             ...           ...         ...
 26512                         Laboratory Conditions           0.0           1
 26513                               _EXHIBIT_84xxx_           0.0           1
 26514                                  The Last One           0.0           1
 26515                                  Trailer Made           0.0           1
 26516                                    The Church           0.0           1

 [26517 rows x 10 columns],
 array([ 12444,  10191,  10138, ..., 381231, 366854, 309885], dtype=int64))

In [146]:
df,df2.original_title.unique()

(       Unnamed: 0            genre_ids      id original_language  \
 0               0      [12, 14, 10751]   12444                en
 1               1  [14, 12, 16, 10751]   10191                en
 2               2        [12, 28, 878]   10138                en
 3               3      [16, 35, 10751]     862                en
 4               4        [28, 878, 12]   27205                en
 ...           ...                  ...     ...               ...
 26512       26512             [27, 18]  488143                en
 26513       26513             [18, 53]  485975                en
 26514       26514         [14, 28, 12]  381231                en
 26515       26515      [10751, 12, 28]  366854                en
 26516       26516             [53, 27]  309885                en

                                      original_title  popularity release_date  \
 0      Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
 1                          How to Train Your Dragon      28.734   2010-03-26
 2                                        Iron Man 2      28.515   2010-05-07
 3                                         Toy Story      28.005   1995-11-22
 4                                         Inception      27.920   2010-07-16
 ...                                             ...         ...          ...
 26512                         Laboratory Conditions       0.600   2018-10-13
 26513                               _EXHIBIT_84xxx_       0.600   2018-05-01
 26514                                  The Last One       0.600   2018-10-01
 26515                                  Trailer Made       0.600   2018-06-22
 26516                                    The Church       0.600   2018-10-05

                                               title  vote_average  vote_count
 0      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
 1                          How to Train Your Dragon           7.7        7610
 2                                        Iron Man 2           6.8       12368
 3                                         Toy Story           7.9       10174
 4                                         Inception           8.3       22186
 ...                                             ...           ...         ...
 26512                         Laboratory Conditions           0.0           1
 26513                               _EXHIBIT_84xxx_           0.0           1
 26514                                  The Last One           0.0           1
 26515                                  Trailer Made           0.0           1
 26516                                    The Church           0.0           1

 [26517 rows x 10 columns],
 array(['Harry Potter and the Deathly Hallows: Part 1',
        'How to Train Your Dragon', 'Iron Man 2', ..., 'The Last One',
        'Trailer Made', 'The Church'], dtype=object))

DATA ANYLYSIS

# 1.EXPLORATORY DATA ANALYSIS(EDA)
# 1.2 UNIVARIATE
# (i)Numerical

In [147]:
df,df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

(       Unnamed: 0            genre_ids      id original_language  \
 0               0      [12, 14, 10751]   12444                en
 1               1  [14, 12, 16, 10751]   10191                en
 2               2        [12, 28, 878]   10138                en
 3               3      [16, 35, 10751]     862                en
 4               4        [28, 878, 12]   27205                en
 ...           ...                  ...     ...               ...
 26512       26512             [27, 18]  488143                en
 26513       26513             [18, 53]  485975                en
 26514       26514         [14, 28, 12]  381231                en
 26515       26515      [10751, 12, 28]  366854                en
 26516       26516             [53, 27]  309885                en

                                      original_title  popularity release_date  \
 0      Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
 1                          How to Train Your Dragon      28.734   2010-03-26
 2                                        Iron Man 2      28.515   2010-05-07
 3                                         Toy Story      28.005   1995-11-22
 4                                         Inception      27.920   2010-07-16
 ...                                             ...         ...          ...
 26512                         Laboratory Conditions       0.600   2018-10-13
 26513                               _EXHIBIT_84xxx_       0.600   2018-05-01
 26514                                  The Last One       0.600   2018-10-01
 26515                                  Trailer Made       0.600   2018-06-22
 26516                                    The Church       0.600   2018-10-05

                                               title  vote_average  vote_count
 0      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
 1                          How to Train Your Dragon           7.7        7610
 2                                        Iron Man 2           6.8       12368
 3                                         Toy Story           7.9       10174
 4                                         Inception           8.3       22186
 ...                                             ...           ...         ...
 26512                         Laboratory Conditions           0.0           1
 26513                               _EXHIBIT_84xxx_           0.0           1
 26514                                  The Last One           0.0           1
 26515                                  Trailer Made           0.0           1
 26516                                    The Church           0.0           1

 [26517 rows x 10 columns],
 None)

In [142]:
df,df2

(       Unnamed: 0            genre_ids      id original_language  \
 0               0      [12, 14, 10751]   12444                en
 1               1  [14, 12, 16, 10751]   10191                en
 2               2        [12, 28, 878]   10138                en
 3               3      [16, 35, 10751]     862                en
 4               4        [28, 878, 12]   27205                en
 ...           ...                  ...     ...               ...
 26512       26512             [27, 18]  488143                en
 26513       26513             [18, 53]  485975                en
 26514       26514         [14, 28, 12]  381231                en
 26515       26515      [10751, 12, 28]  366854                en
 26516       26516             [53, 27]  309885                en

                                      original_title  popularity release_date  \
 0      Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
 1                          How to Train Your Dragon      28.734   2010-03-26
 2                                        Iron Man 2      28.515   2010-05-07
 3                                         Toy Story      28.005   1995-11-22
 4                                         Inception      27.920   2010-07-16
 ...                                             ...         ...          ...
 26512                         Laboratory Conditions       0.600   2018-10-13
 26513                               _EXHIBIT_84xxx_       0.600   2018-05-01
 26514                                  The Last One       0.600   2018-10-01
 26515                                  Trailer Made       0.600   2018-06-22
 26516                                    The Church       0.600   2018-10-05

                                               title  vote_average  vote_count
 0      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
 1                          How to Train Your Dragon           7.7        7610
 2                                        Iron Man 2           6.8       12368
 3                                         Toy Story           7.9       10174
 4                                         Inception           8.3       22186
 ...                                             ...           ...         ...
 26512                         Laboratory Conditions           0.0           1
 26513                               _EXHIBIT_84xxx_           0.0           1
 26514                                  The Last One           0.0           1
 26515                                  Trailer Made           0.0           1
 26516                                    The Church           0.0           1

 [26517 rows x 10 columns],
        Unnamed: 0            genre_ids      id original_language  \
 0               0      [12, 14, 10751]   12444                en
 1               1  [14, 12, 16, 10751]   10191                en
 2               2        [12, 28, 878]   10138                en
 3               3      [16, 35, 10751]     862                en
 4               4        [28, 878, 12]   27205                en
 ...           ...                  ...     ...               ...
 26512       26512             [27, 18]  488143                en
 26513       26513             [18, 53]  485975                en
 26514       26514         [14, 28, 12]  381231                en
 26515       26515      [10751, 12, 28]  366854                en
 26516       26516             [53, 27]  309885                en

                                      original_title  popularity release_date  \
 0      Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
 1                          How to Train Your Dragon      28.734   2010-03-26
 2                                        Iron Man 2      28.515   2010-05-07
 3                                         Toy Story      28.005   1995-11-22
 4                                         Inception      27.920   2010-07-16
 ...                                             ...         ...          ...
 26512                         Laboratory Conditions       0.600   2018-10-13
 26513                               _EXHIBIT_84xxx_       0.600   2018-05-01
 26514                                  The Last One       0.600   2018-10-01
 26515                                  Trailer Made       0.600   2018-06-22
 26516                                    The Church       0.600   2018-10-05

                                               title  vote_average  vote_count
 0      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
 1                          How to Train Your Dragon           7.7        7610
 2                                        Iron Man 2           6.8       12368
 3                                         Toy Story           7.9       10174
 4                                         Inception           8.3       22186
 ...                                             ...           ...         ...
 26512                         Laboratory Conditions           0.0           1
 26513                               _EXHIBIT_84xxx_           0.0           1
 26514                                  The Last One           0.0           1
 26515                                  Trailer Made           0.0           1
 26516                                    The Church           0.0           1

 [26517 rows x 10 columns])

In [148]:
df,df2.dtypes

(       Unnamed: 0            genre_ids      id original_language  \
 0               0      [12, 14, 10751]   12444                en
 1               1  [14, 12, 16, 10751]   10191                en
 2               2        [12, 28, 878]   10138                en
 3               3      [16, 35, 10751]     862                en
 4               4        [28, 878, 12]   27205                en
 ...           ...                  ...     ...               ...
 26512       26512             [27, 18]  488143                en
 26513       26513             [18, 53]  485975                en
 26514       26514         [14, 28, 12]  381231                en
 26515       26515      [10751, 12, 28]  366854                en
 26516       26516             [53, 27]  309885                en

                                      original_title  popularity release_date  \
 0      Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
 1                          How to Train Your Dragon      28.734   2010-03-26
 2                                        Iron Man 2      28.515   2010-05-07
 3                                         Toy Story      28.005   1995-11-22
 4                                         Inception      27.920   2010-07-16
 ...                                             ...         ...          ...
 26512                         Laboratory Conditions       0.600   2018-10-13
 26513                               _EXHIBIT_84xxx_       0.600   2018-05-01
 26514                                  The Last One       0.600   2018-10-01
 26515                                  Trailer Made       0.600   2018-06-22
 26516                                    The Church       0.600   2018-10-05

                                               title  vote_average  vote_count
 0      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
 1                          How to Train Your Dragon           7.7        7610
 2                                        Iron Man 2           6.8       12368
 3                                         Toy Story           7.9       10174
 4                                         Inception           8.3       22186
 ...                                             ...           ...         ...
 26512                         Laboratory Conditions           0.0           1
 26513                               _EXHIBIT_84xxx_           0.0           1
 26514                                  The Last One           0.0           1
 26515                                  Trailer Made           0.0           1
 26516                                    The Church           0.0           1

 [26517 rows x 10 columns],
 Unnamed: 0             int64
 genre_ids             object
 id                     int64
 original_language     object
 original_title        object
 popularity           float64
 release_date          object
 title                 object
 vote_average         float64
 vote_count             int64
 dtype: object)

In [150]:
df,df2.head()

(       Unnamed: 0            genre_ids      id original_language  \
 0               0      [12, 14, 10751]   12444                en
 1               1  [14, 12, 16, 10751]   10191                en
 2               2        [12, 28, 878]   10138                en
 3               3      [16, 35, 10751]     862                en
 4               4        [28, 878, 12]   27205                en
 ...           ...                  ...     ...               ...
 26512       26512             [27, 18]  488143                en
 26513       26513             [18, 53]  485975                en
 26514       26514         [14, 28, 12]  381231                en
 26515       26515      [10751, 12, 28]  366854                en
 26516       26516             [53, 27]  309885                en

                                      original_title  popularity release_date  \
 0      Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
 1                          How to Train Your Dragon      28.734   2010-03-26
 2                                        Iron Man 2      28.515   2010-05-07
 3                                         Toy Story      28.005   1995-11-22
 4                                         Inception      27.920   2010-07-16
 ...                                             ...         ...          ...
 26512                         Laboratory Conditions       0.600   2018-10-13
 26513                               _EXHIBIT_84xxx_       0.600   2018-05-01
 26514                                  The Last One       0.600   2018-10-01
 26515                                  Trailer Made       0.600   2018-06-22
 26516                                    The Church       0.600   2018-10-05

                                               title  vote_average  vote_count
 0      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
 1                          How to Train Your Dragon           7.7        7610
 2                                        Iron Man 2           6.8       12368
 3                                         Toy Story           7.9       10174
 4                                         Inception           8.3       22186
 ...                                             ...           ...         ...
 26512                         Laboratory Conditions           0.0           1
 26513                               _EXHIBIT_84xxx_           0.0           1
 26514                                  The Last One           0.0           1
 26515                                  Trailer Made           0.0           1
 26516                                    The Church           0.0           1

 [26517 rows x 10 columns],
    Unnamed: 0            genre_ids     id original_language  \
 0           0      [12, 14, 10751]  12444                en
 1           1  [14, 12, 16, 10751]  10191                en
 2           2        [12, 28, 878]  10138                en
 3           3      [16, 35, 10751]    862                en
 4           4        [28, 878, 12]  27205                en

                                  original_title  popularity release_date  \
 0  Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
 1                      How to Train Your Dragon      28.734   2010-03-26
 2                                    Iron Man 2      28.515   2010-05-07
 3                                     Toy Story      28.005   1995-11-22
 4                                     Inception      27.920   2010-07-16

                                           title  vote_average  vote_count
 0  Harry Potter and the Deathly Hallows: Part 1           7.7       10788
 1                      How to Train Your Dragon           7.7        7610
 2                                    Iron Man 2           6.8       12368
 3                                     Toy Story           7.9       10174
 4                                     Inception           8.3       22186  )